# Scraping data

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32 (1)\chromedriver.exe")

# OLX

In [4]:
driver.get('https://www.olx.in/')

In [5]:
#navigating to the car page from main page
srch = driver.find_element_by_xpath('//div[@class="_3AGJR _18NX_"]/a')
srch.click()

In [7]:
search_bar = driver.find_element_by_xpath('//input[@data-aut-id="searchBox"]')
search_bar.send_keys('audi')   #entering the name of the brand

In [5]:
urls = []
for i in driver.find_elements_by_xpath('//li[@data-aut-id="itemBox"]/a'):     
    urls.append(i.get_attribute("href"))

In [7]:
brand_name = []
modl =[]
fuel_type = []
kilo = []
nofowner = []
years = []
transmisions = []

In [8]:
price = []
for i in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):     
    price.append(i.text.replace('/n',''))

In [18]:
#audi
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//span[@class="_2vNpt"][1]')
        brand_name.append(p.text.replace('/n',''))
    except NoSuchElementException:
        brand_name.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_model"]')
        modl.append(p.text.replace('/n',''))
    except NoSuchElementException:
        modl.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_variant"]')
        var.append(p.text.replace('/n',''))
    except NoSuchElementException:
        var.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_year"]')
        years.append(p.text.replace('/n',''))
    except NoSuchElementException:
        years.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_petrol"]')
        fuel_type.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel_type.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_transmission"]')
        transmisions.append(p.text.replace('/n',''))
    except NoSuchElementException:
        transmisions.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_mileage"]')
        kilo.append(p.text.replace('/n',''))
    except NoSuchElementException:
        kilo.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_first_owner"]')
        nofowner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        nofowner.append('NaN')

In [20]:
df = pd.DataFrame({})
df['brand']=brand_name
df['model']=modl
df['fuel']=fuel_type
df['km'] = kilo
df['no of owner'] = nofowner
df['yrs'] = years
df['transmission'] = transmisions
df['price'] = price
#saving data into the dataframe

In [8]:
search_bar = driver.find_element_by_xpath('//input[@data-aut-id="searchBox"]')
search_bar.send_keys('maruti')

In [5]:
urls = []
for i in driver.find_elements_by_xpath('//li[@data-aut-id="itemBox"]/a'):     
    urls.append(i.get_attribute("href"))  #finding the urls of all the pgs

In [15]:
#maruti
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//span[@class="_2vNpt"][1]')
        brand_name.append(p.text.replace('/n',''))
    except NoSuchElementException:
        brand_name.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_model"]')
        modl.append(p.text.replace('/n',''))
    except NoSuchElementException:
        modl.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_year"]')
        years.append(p.text.replace('/n',''))
    except NoSuchElementException:
        years.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_petrol"]')
        fuel_type.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel_type.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_transmission"]')
        transmisions.append(p.text.replace('/n',''))
    except NoSuchElementException:
        transmisions.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_mileage"]')
        kilo.append(p.text.replace('/n',''))
    except NoSuchElementException:
        kilo.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_first_owner"]')
        nofowner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        nofowner.append('NaN')

In [17]:
price = []
for i in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):     
    price.append(i.text.replace('/n',''))

In [18]:
df = pd.DataFrame({})
df['brand']=brand_name
df['model']=modl
df['fuel']=fuel_type
df['km'] = kilo
df['no of owner'] = nofowner
df['yrs'] = years
df['transmission'] = transmisions
df['price'] = price

In [9]:
search_bar = driver.find_element_by_xpath('//input[@data-aut-id="searchBox"]')
search_bar.send_keys('ford')

In [5]:
urls = []
for i in driver.find_elements_by_xpath('//li[@data-aut-id="itemBox"]/a'):     
    urls.append(i.get_attribute("href"))

In [7]:
price = []
for i in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):     
    price.append(i.text.replace('/n',''))

In [15]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//span[@class="_2vNpt"][1]')
        brand_name.append(p.text.replace('/n',''))
    except NoSuchElementException:
        brand_name.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_model"]')
        modl.append(p.text.replace('/n',''))
    except NoSuchElementException:
        modl.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_year"]')
        years.append(p.text.replace('/n',''))
    except NoSuchElementException:
        years.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_petrol"]')
        fuel_type.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel_type.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_transmission"]')
        transmisions.append(p.text.replace('/n',''))
    except NoSuchElementException:
        transmisions.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_mileage"]')
        kilo.append(p.text.replace('/n',''))
    except NoSuchElementException:
        kilo.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_first_owner"]')
        nofowner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        nofowner.append('NaN')

In [16]:
df = pd.DataFrame({})
df['brand']=brand_name
df['model']=modl
df['fuel']=fuel_type
df['km'] = kilo
df['no of owner'] = nofowner
df['yrs'] = years
df['transmission'] = transmisions
df['price'] = price

In [4]:
search_bar = driver.find_element_by_xpath('//input[@data-aut-id="searchBox"]')
search_bar.send_keys('honda')

In [5]:
#honda 
urls = []
for i in driver.find_elements_by_xpath('//li[@data-aut-id="itemBox"]/a'):     
    urls.append(i.get_attribute("href"))

In [15]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//span[@class="_2vNpt"][1]')
        brand_name.append(p.text.replace('/n',''))
    except NoSuchElementException:
        brand_name.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_model"]')
        modl.append(p.text.replace('/n',''))
    except NoSuchElementException:
        modl.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_year"]')
        years.append(p.text.replace('/n',''))
    except NoSuchElementException:
        years.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_petrol"]')
        fuel_type.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel_type.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_transmission"]')
        transmisions.append(p.text.replace('/n',''))
    except NoSuchElementException:
        transmisions.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_mileage"]')
        kilo.append(p.text.replace('/n',''))
    except NoSuchElementException:
        kilo.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@data-aut-id="value_first_owner"]')
        nofowner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        nofowner.append('NaN')

In [7]:
price = []
for i in driver.find_elements_by_xpath('//span[@class="_89yzn"]'):     
    price.append(i.text.replace('/n',''))

In [15]:
df = pd.DataFrame({})
df['brand']=brand_name
df['model']=modl
df['fuel']=fuel_type
df['km'] = kilo
df['no of owner'] = nofowner
df['yrs'] = years
df['transmission'] = transmisions
df['price'] = price

In [16]:
df.to_csv(r'C:\Users\dell\Documents\ratingcsv\olx.csv',index=False,header=True)  #saving data

In [14]:
df

,brand,model,fuel,km,no of owner,yrs,transmission,price
0,Skoda,Yeti,Diesel,"51,914 km",1st,2013.0,Manual,"₹ 4,25,000"
1,Honda,Accord,Petrol,"67,000 km",2nd,2013.0,Automatic,"₹ 3,25,000"
2,Honda,Mobilio,Diesel,"83,300 km",1st,2016.0,Manual,"₹ 5,57,000"
3,Skoda,Rapid,Diesel,"74,000 km",1st,2014.0,Manual,"₹ 5,75,000"
4,Skoda,Laura,Diesel,"63,000 km",1st,2010.0,Automatic,"₹ 5,49,000"
...,...,...,...,...,...,...,...,...
595,Honda,City,Petrol,"73,000 km",1st,2011.0,Manual,"₹ 4,35,000"
596,Skoda,Rapid,Diesel,"44,000 km",1st,2018.0,Manual,"₹ 4,75,000"
597,Honda,City ZX,Diesel,"70,000 km",2nd,2014.0,Manual,"₹ 5,75,000"
598,Skoda,Rapid,Petrol,"32,000 km",1st,2017.0,Manual,"₹ 3,40,000"
599,2014,Rapid,Petrol,66000.0 km,1st,2014.0,Automatic,"₹ 8,10,000"

# Cardekho

In [10]:
driver.get('https://www.cardekho.com/')

In [12]:
search_bar = driver.find_element_by_id('cardekhosearchtext')
search_bar.send_keys('ahmdabad') #entering location in the search bar

In [13]:
cl = driver.find_element_by_xpath('//button[@class="searchbtn"]')
cl.click()   #clicking on the search bar

In [6]:
urls = []
for i in driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7 carsName"]/a'):     
    urls.append(i.get_attribute("href"))

In [7]:
price = []
yrs = []

fuels = []
owners = []
trans = []
kms = []
models = []

In [26]:
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//div[@class="vdp-head"]/h1[2]')
        model.append(p.text.replace('/n',''))
    except NoSuchElementException:
        model.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@class="pricewrapper posR"]/span[1]')
        prices.append(p.text.replace('/n',''))
    except NoSuchElementException:
        prices.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
        yr.append(p.text.replace('/n',''))
    except NoSuchElementException:
        yr.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[5]/div[1]/div')
        fuel.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[3]/div[1]/div')
        km.append(p.text.replace('/n',''))
    except NoSuchElementException:
        km.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[4]/div[1]/div')
        owner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        owner.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[6]/div[1]/div')
        tran.append(p.text.replace('/n',''))
    except NoSuchElementException:
        tran.append('NaN')

In [30]:
df = pd.DataFrame({})
df['model']=model
df['fuel']=fuel
df['km'] = km
df['no of owner'] = owner
df['yrs'] = yr
df['transmission'] = tran
df['price'] = prices

In [22]:
search_bar = driver.find_element_by_id('cardekhosearchtext')
search_bar.send_keys('bangalore') #entering location in the search bar

In [6]:
cl = driver.find_element_by_xpath('//button[@class="searchbtn"]')
cl.click()

In [7]:
urls = []
for i in driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7 carsName"]/a'):     
    urls.append(i.get_attribute("href"))

In [24]:
for i in u:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//div[@class="vdp-head"]/h1[2]')
        model.append(p.text.replace('/n',''))
    except NoSuchElementException:
        model.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@class="pricewrapper posR"]/span[1]')
        prices.append(p.text.replace('/n',''))
    except NoSuchElementException:
        prices.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
        yr.append(p.text.replace('/n',''))
    except NoSuchElementException:
        yr.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[5]/div[1]/div')
        fuel.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[3]/div[1]/div')
        km.append(p.text.replace('/n',''))
    except NoSuchElementException:
        km.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[4]/div[1]/div')
        owner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        owner.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[6]/div[1]/div')
        tran.append(p.text.replace('/n',''))
    except NoSuchElementException:
        tran.append('NaN')

In [25]:
df = pd.DataFrame({})
df['model']=model
df['fuel']=fuel
df['km'] = km
df['no of owner'] = owner
df['yrs'] = yr
df['transmission'] = tran
df['price'] = prices

In [26]:
search_bar = driver.find_element_by_id('cardekhosearchtext')
search_bar.send_keys('chennai')

In [20]:
cl = driver.find_element_by_xpath('//button[@class="searchbtn"]')
cl.click()

In [7]:
#chennai
url = []
for i in driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7 carsName"]/a'):     
    url.append(i.get_attribute("href"))

In [14]:
for i in ur:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//div[@class="vdp-head"]/h1[2]')
        models.append(p.text.replace('/n',''))
    except NoSuchElementException:
        models.append('NaN')
    try:
        p=driver.find_element_by_xpath('//span[@class="pricewrapper posR"]/span[1]')
        price.append(p.text.replace('/n',''))
    except NoSuchElementException:
        price.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
        yrs.append(p.text.replace('/n',''))
    except NoSuchElementException:
        yrs.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[5]/div[1]/div')
        fuels.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuels.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[3]/div[1]/div')
        kms.append(p.text.replace('/n',''))
    except NoSuchElementException:
        kms.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[4]/div[1]/div')
        owners.append(p.text.replace('/n',''))
    except NoSuchElementException:
        owners.append('NaN')
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[6]/div[1]/div')
        trans.append(p.text.replace('/n',''))
    except NoSuchElementException:
        trans.append('NaN')

In [16]:
df = pd.DataFrame({})
df['model']=models
df['fuel']=fuels
df['km'] = kms
df['no of owner'] = owners
df['yrs'] = yrs
df['transmission'] = trans
df['price'] = price

In [17]:
df

,model,fuel,km,no of owner,yrs,transmission,price
0,Maruti Alto 800 LXI,Petrol,"42,096 kms",First Owner,2018,Manual,3.2 Lakh*
1,Maruti Eeco 5 Seater AC,Petrol,"57,129 kms",First Owner,2018,Manual,3.75 Lakh*
2,Maruti Celerio VXI,Petrol,"23,666 kms",First Owner,2016,Manual,3.7 Lakh*
3,Hyundai i10 Sportz 1.2,Petrol,"24,613 kms",First Owner,2016,Manual,4.1 Lakh*
4,Hyundai Santro GLS I - Euro I,Petrol,"78,848 kms",First Owner,2008,Manual,1.75 Lakh*
...,...,...,...,...,...,...,...
1036,Maruti Eeco 7 Seater Standard BSIV,Petrol,"70,000 kms",First Owner,2012,Manual,2.1 Lakh*
1037,Honda City i-VTEC CVT ZX,Petrol,"26,070 kms",First Owner,2017,Automatic,9.5 Lakh*
1038,Hyundai i10 Magna 1.2,Petrol,"51,000 kms",First Owner,2010,Manual,2.25 Lakh*
1039,Maruti Swift LXi BSIV,Petrol,"35,000 kms",First Owner,2010,Manual,3 Lakh*
1040,Maruti Swift LXI,Petrol,"5,000 kms",First Owner,2021,Manual,4.5 Lakh*

In [18]:
search_bar = driver.find_element_by_id('cardekhosearchtext')
search_bar.send_keys('mumbai')

In [4]:
cl = driver.find_element_by_xpath('//button[@class="searchbtn"]')
cl.click()

In [5]:
#Mumbai
urls = []
for i in driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7 carsName"]/a'):     
    urls.append(i.get_attribute("href"))

In [8]:
prices = []
yr = []
fuel = []
owner = []
tran = []
km = []
model = []

In [30]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        try:
            p=driver.find_element_by_xpath('//div[@class="vdp-head"]/h1[2]')
            model.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div[1]/h1[1]')
            model.append(p.text.replace('/n',''))
    except NoSuchElementException:
        model.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//span[@class="pricewrapper posR"]/span[1]')
            prices.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//div[@class="priceSection"]/span[2]')
            prices.append(p.text.replace('/n',''))
    except NoSuchElementException:
        prices.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
            yr.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[1]/div[1]/div[2]')
            yr.append(p.text.replace('/n',''))
    except NoSuchElementException:
        yr.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[5]/div[1]/div')
            fuel.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]/div[1]/div[2]')
            fuel.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[3]/div[1]/div')
            km.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[4]/div[1]/div[2]')
            km.append(p.text.replace('/n',''))
    except NoSuchElementException:
        km.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[4]/div[1]/div')
            owner.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[6]/div[1]/div[2]')
            owner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        owner.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[6]/div[1]/div')
            tran.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[8]/div[1]/div[2]')
            tran.append(p.text.replace('/n',''))
    except NoSuchElementException:
        tran.append('NaN')

In [16]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
        yrs.append(p.text.replace('/n',''))
    except:
        p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[1]/div[1]/div[2]')
        yrs.append(p.text.replace('/n',''))

In [33]:
df = pd.DataFrame({})
df['model']=model
df['fuel']=fuel
df['km'] = km
df['no of owner'] = owner
df['yrs'] = yr
df['transmission'] = tran
df['price'] = prices

In [36]:
df.to_csv(r'C:\Users\dell\Documents\ratingcsv\cardekho.csv',index=False,header=True)  #saving for future

In [35]:
df

,model,fuel,km,no of owner,yrs,transmission,price
0,2014 Maruti Celerio,Petrol,"38,828 Kms",1st Owner,2014,Automatic,"3,78,500"
1,2015 Hyundai Xcent,Petrol,"33,567 Kms",1st Owner,2015,Automatic,"4,60,500"
2,2012 Hyundai Verna,Diesel,"85,295 Kms",2nd Owner,2012,Automatic,"4,67,500"
3,2015 Hyundai i20,Diesel,"103,266 Kms",1st Owner,2015,Manual,"5,05,000"
4,2014 Volkswagen Vento,Diesel,"79,613 Kms",1st Owner,2013,Manual,"4,71,500"
...,...,...,...,...,...,...,...
1432,Honda City i VTEC CVT VX,Petrol,"79,000 kms",Second Owner,2014,Automatic,6.95 Lakh*
1433,Maruti Baleno Zeta 1.2,Petrol,"18,000 kms",First Owner,2018,Manual,6.75 Lakh*
1434,Hyundai Creta 1.6 VTVT AT SX Plus,Petrol,"38,000 kms",First Owner,2018,Automatic,14.11 Lakh*
1435,Nissan Terrano XL 110 PS,Diesel,"87,000 kms",First Owner,2015,Manual,5.5 Lakh*
1436,Mercedes-Benz A-Class A200 CDI,Diesel,"42,000 kms",Second Owner,2015,Automatic,15.25 Lakh*

In [14]:
search_bar = driver.find_element_by_id('cardekhosearchtext')
search_bar.send_keys('mumbai')
cl = driver.find_element_by_xpath('//button[@class="searchbtn"]')
cl.click()

In [6]:
urls = []
for i in driver.find_elements_by_xpath('//div[@class="gsc_col-xs-7 carsName"]/a'):     
    urls.append(i.get_attribute("href"))

In [12]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        try:
            p=driver.find_element_by_xpath('//div[@class="vdp-head"]/h1[2]')
            model.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div[1]/h1[1]')
            model.append(p.text.replace('/n',''))
    except NoSuchElementException:
        model.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//span[@class="pricewrapper posR"]/span[1]')
            prices.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//div[@class="priceSection"]/span[2]')
            prices.append(p.text.replace('/n',''))
    except NoSuchElementException:
        prices.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[1]/div[1]/div')
            yr.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[1]/div[1]/div[2]')
            yr.append(p.text.replace('/n',''))
    except NoSuchElementException:
        yr.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[5]/div[1]/div')
            fuel.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]/div[1]/div[2]')
            fuel.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuel.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[3]/div[1]/div')
            km.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[4]/div[1]/div[2]')
            km.append(p.text.replace('/n',''))
    except NoSuchElementException:
        km.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[4]/div[1]/div')
            owner.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[6]/div[1]/div[2]')
            owner.append(p.text.replace('/n',''))
    except NoSuchElementException:
        owner.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row clearfix"]/li[6]/div[1]/div')
            tran.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[8]/div[1]/div[2]')
            tran.append(p.text.replace('/n',''))
    except NoSuchElementException:
        tran.append('NaN')

In [14]:
df = pd.DataFrame({})
df['model']=model
df['fuel']=fuel
df['km'] = km
df['no of owner'] = owner
df['yrs'] = yr
df['transmission'] = tran
df['price'] = prices

In [15]:
df

,model,fuel,km,no of owner,yrs,transmission,price
0,2014 Maruti Alto 800,Petrol,"40,167 Kms",1st Owner,2013,Manual,"1,92,500"
1,2015 Hyundai Grand i10,Petrol,"39,886 Kms",1st Owner,2015,Manual,"3,91,000"
2,2016 Hyundai Grand i10,Diesel,"63,759 Kms",2nd Owner,2016,Manual,"4,33,000"
3,2020 Renault KWID,Petrol,"15,900 Kms",1st Owner,2020,Manual,"3,62,187"
4,2019 Tata Tiago,Petrol,"20,463 Kms",1st Owner,2018,Manual,"4,51,000"
...,...,...,...,...,...,...,...
631,Honda Brio S MT,Petrol,"55,000 kms",First Owner,2015,Manual,3.75 Lakh*
632,Mahindra Thar CRDe,Diesel,"61,700 kms",First Owner,2016,Manual,6.95 Lakh*
633,Audi A8 L 3.0 TDI quattro,Diesel,"27,000 kms",First Owner,2012,Automatic,25.21 Lakh*
634,Honda City 1.5 V MT,Petrol,"64,000 kms",First Owner,2011,Manual,3.85 Lakh*
635,BMW X3 xDrive20d Expedition,Diesel,"55,000 kms",Second Owner,2014,Automatic,15.9 Lakh*

In [16]:
df.to_csv(r'C:\Users\dell\Documents\ratingcsv\cardekho2.csv',index=False,header=True)  #saving for future

# Cars24

In [4]:
driver.get('https://www.cars24.com/')

In [6]:
#moving to the car navigation page
buycars = driver.find_element_by_xpath('//ul[@class="float-right _1yq3e"]/li[3]/a')    
driver.get(buycars.get_attribute("href"))

In [9]:
url = []
for i in driver.find_elements_by_xpath('//a[@class="_9Ue0B"]'):     
    url.append(i.get_attribute("href"))

In [40]:
#name , year and model in one column

modl = []
k = []
trns = []
ownrs = []
prics = []

In [41]:
fuls = []

In [15]:
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        p=driver.find_element_by_xpath('//div[@class="_187DF"]/div[2]/h2[1]')
        modl.append(p.text.replace('/n',''))
    except NoSuchElementException:
        modl.append('NaN')
    try:
        p=driver.find_element_by_xpath('//div[@class="_187DF"]/div[3]/strong')
        prics.append(p.text.replace('/n',''))
    except NoSuchElementException:
        prics.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//strong[@class="_1-PH2"][4]')
            fuls.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//li[@class="tHlIu"][4]/strong[1]')
            fuls.append(p.text.replace('/n',''))
    except NoSuchElementException:
        fuls.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//strong[@class="_1-PH2"][3]')
            k.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//li[@class="tHlIu"][3]/strong[1]')
            k.append(p.text.replace('/n',''))
    except NoSuchElementException:
        k.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//strong[@class="_1-PH2"][2]')
            ownrs.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//li[@class="tHlIu"][2]/strong[1]')
            ownrs.append(p.text.replace('/n',''))
    except NoSuchElementException:
        ownrs.append('NaN')
    try:
        try:
            p=driver.find_element_by_xpath('//strong[@class="_1-PH2"][6]')
            trns.append(p.text.replace('/n',''))
        except:
            p=driver.find_element_by_xpath('//li[@class="tHlIu"][6]/strong[1]')
            trns.append(p.text.replace('/n',''))
    except NoSuchElementException:
        trns.append('NaN')

In [45]:
len(trns)

292

In [51]:
df = pd.DataFrame({})
df['model']=modl
df['fuel']=fuls
df['km'] = k
df['no of owner'] = ownrs
df['transmission'] = trns
df['price'] = prics

In [52]:
df

,model,fuel,km,no of owner,transmission,price
0,2021 Hyundai VENUE S MT 1.2 KAPPA,Petrol,"2,589 km",1st Owner,NA,"₹8,07,999"
1,2020 Maruti Baleno DELTA 1.2 K12 MANUAL,Petrol,"3,920 km",1st Owner,MANUAL,"₹6,59,399"
2,2020 Maruti IGNIS SIGMA 1.2 K12 MANUAL,Petrol,"2,206 km",1st Owner,MANUAL,"₹5,25,699"
3,2013 Maruti Swift VDI MANUAL,Diesel,"11,019 km",1st Owner,MANUAL,"₹3,78,499"
4,2013 Maruti Alto 800 LXI MANUAL,Petrol,"8,967 km",1st Owner,MANUAL,"₹2,41,499"
...,...,...,...,...,...,...
287,2018 Maruti Wagon R 1.0 VXI MANUAL,Petrol,"36,481 km",1st Owner,MANUAL,"₹418,799"
288,NaN,Petrol,"10,618 km",1st Owner,DL-8C-x-xxxx,NaN
289,NaN,Petrol,"20,883 km",1st Owner,DL-2C-x-xxxx,NaN
290,NaN,Diesel,"57,728 km",1st Owner,UP-16-x-xxxx,NaN
291,2017 Maruti Swift VDI ABS MANUAL,Diesel,"73,900 km",1st Owner,MANUAL,"₹457,099"

In [53]:
df.to_csv(r'C:\Users\dell\Documents\ratingcsv\car24.csv',index=False,header=True)